{# formulario de logueo #}
{% extends 'layout/base.html.twig'%}

{% block titulo 'Iniciar sesion'%}
{% block contenido %}
<div class="container">
<div class="marketing">
<section id="nuestra-empresa">
<h1>Servicio en mantenimiento.</h1>
<p class="marketing-byline">Disculpe las molestias. Regrese más tarde.</p>
</div>
{% endblock %}