<div class="col-md-7 col-sm-7">
<h1><strong>Administradora </strong> de Condominios</h1>
<p>Su condominio es nuestro mayor interés. Le ofrecemos servicios integrales en el área inmobiliaria.</p>
<ul class="banner-list">
<li><i class="fa fa-check"></i>Administración y Gestión de su inmueble.</li>
<li><i class="fa fa-check"></i>Cobranzas y recuperación, desalojos.</li>
<li><i class="fa fa-check"></i>Venta y Alquiler de su propiedad.</li>
<li><i class="fa fa-check"></i>Outsourcing y Asesoría (Emisión de recibos de condominio).</li>
<li><i class="fa fa-check"></i>Atención personalizada y respuestas oportunas.</li>
<li><i class="fa fa-check"></i>En El Paraiso, Caracas.</li>
</ul>
<a class="btn btn-primary btn-lg btn-transparent" href="{{constant('URL_INMOBILIARIA')}}?accion=registro" data-target="#solvencia">
<i class="fa fa-user"></i> Registrarse</a>
</div>