<section class="footer footer-top">
<div class=container>
<div class=row>
<div class=col-md-5>
<div class=contact-info>
<h3>Dónde estamos</h3>
<ul class=contact-list>
<li><i class=icon-directions></i> Av. José Antonio Paez con Av. Washington, Qta. San José, P.B. Local L-2. El Paraiso - Caracas</li>
<li><i class=icon-call-in></i>(0212) 451 8795 | (0212) 451 4045</li>
<li><i class=icon-envelope-open></i><a href="mailto:condominiosoctagon1@gmail.com">condominiosoctagon1@gmail.com</a></li>
</ul>
</div>
</div>
<div class=col-md-4>
<h3>Horario atención al cliente</h3>
<p>Lunes a viernes</p>
<p>8:30am - 12:30pm</p>
<p>1:30pm - 4:00pm</p>
<p>Sábados y Domingos: Cerrados</p>
</div>
<div class=col-sm-3>
<h3>Manténgase en contacto!</h3>
<p>Síguenos en nuestras redes sociales!</p>
<ul class=social>
<li class=facebook> <a href="https://www.facebook.com/emigioia"> <i class="fa fa-facebook"></i> </a> </li>
<li class=twitter> <a href="https://twitter.com/egioia"> <i class="fa fa-twitter"></i> </a> </li>
<li class=google-plus> <a href="https://instagram.com/condominiosoctagon"> <i class="fa fa-instagram"></i> </a> </li>
<li class=linkedin> <a href="https://www.linkedin.com/pub/abog-emilio-gioia/33/70b/25b"> <i class="fa fa-linkedin"></i> </a> </li>
<li><div style="width:97px;">
<a rel="nofollow" href="http://www.qweb.es/empresas-de-gestion-inmobiliaria.html" target="_blank" title="Directorio de Empresas de Gestión Inmobiliaria">
<img src="http://www.qweb.es/certqweb-www.administradora-octagon.com.ve.gif" width="97" height="31" style="border:0" alt="Directorio de Empresas de Gestión Inmobiliaria" />
</a>
</div>
</li>
</ul>
</div>
</div>
</div>
</section>
<footer class="footer footer-sub">
<div class=container>
<div class=row>
<div class=col-md-4>
<p><a href="http://www.pronet21.com.ve">Diseño Web</a><a href="http://www.pronet21.com.ve"> <span class=green>Pronet21</span></a></p>
</div>
<div class=col-md-4>
<p class=empresa>&copy; 2014 - Administradora Octagon 2010 <br> Rif. J-29928573-0 </p>
</div>
<div class=col-md-4>
<p class=copyright><a href="http://www.administracion-condominio.com.ve" title="Sistema de Administración de Condominio" target="_blank">Sistema Administración de Condominios</a> <a href="http://www.administracion-condominio.com.ve" target="_blank"><span class=blue>Valoriza</span><sup class=green style="font-weight: bold">2</sup></a></p>
</div>
</div>
</div>
</footer>
