<div class="alert alert-info fade in">
<h4 class="alert-heading">Hola, {{session.usuario.nombre}}</h4>
<h2>Usted está en mora condominial</h2>
<h3>Debe escribir al WhatsApp <strong>(0414) 377 4810</strong> 
o al correo <strong>respuestalegal6@gmail.com</strong>
para ponerse en contacto con el abogado de cobranzas morosas.<br />
<!--strong>Dése por notificado de esta comunicación.</strong-->
</h3>
</div>