<div class="pull-right">
    
	{# <a href="#" class="social-icon social-icon-sm social-icon-transparent social-facebook pull-left" data-toggle="tooltip" data-placement="top" title="" data-original-title="Compartir en Facebook">
		<i class="icon-facebook"></i>
		<i class="icon-facebook"></i>
	</a>

	<a href="#" class="social-icon social-icon-sm social-icon-transparent social-gplus pull-left" data-toggle="tooltip" data-placement="top" title="" data-original-title="Pubicar en Google plus">
		<i class="icon-gplus"></i>
		<i class="icon-gplus"></i>
	</a>

	<a href="#" class="social-icon social-icon-sm social-icon-transparent social-twitter pull-left" data-toggle="tooltip" data-placement="top" title="" data-original-title="Publicar en Twitter">
		<i class="icon-twitter"></i>
		<i class="icon-twitter"></i>
	</a> #}

	<!--a href="#" class="social-icon social-icon-sm social-icon-transparent social-gplus pull-left" data-toggle="tooltip" data-placement="top" title="" data-original-title="Descargar ficha Técnica">
            <i class="fa fa-file-pdf-o"></i>
            <i class="fa fa-file-pdf-o"></i>
    </a-->

</div>
